<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<div class="parallax-window" data-parallax="scroll" data-image-src="Parallax2F.JPG" >
  <div class="container text-white">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>

 <div class="container">


<div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <hr class="my-4">
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading"> Automaquillaje</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>


        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <img src="C1F.JPG", class="img-responsive" alt="">
            </div>
            <div class="col-md-6">
                 
                <p align="justify">   
                <br>
				Este curso personalizado es 100% práctico y va dirigido a las personas que quieren aprender a maquillarse, resaltar sus mejores rasgos y aprender a utilizar sus propios productos. Tiene una duración de dos días y el horario es definido de acuerdo a tu agenda.
				<br>
                <br>
				Utilizaremos maquillaje PRO, e igual puedes traer tu kit de maquillaje para sacarle provecho al máximo a tus productos, dándote los mejores tips de cómo aplicarlos
				</p>
            </div>
        </div>
        <!-- /.row -->
        <hr>
    </div>
    <!-- /.container -->

<!-- Service Panels -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->

      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading"> ¿Qué Incluye?</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>







        <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-3x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #ffb819;"></i>
                              <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h6>Preparación de la piel</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-3x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #784d28;"></i>
                              <i class="fa fa-paint-brush fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h6>Conocimiento de los tipos de brochas</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-3x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #2e2a25;"></i>
                              <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h6>Maquillaje de dia</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-3x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #2e2a25;"></i>
                              <i class="fa fa-paint-brush fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h6>Maquillaje de noche</h6>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <hr>
    </div>
    <!-- /.container -->