
<br>
    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="P1F.jpg">
              <img class="img-fluid" src="P1F.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Piel de ébanoo
                  </div>
                  <div class="project-name">
                    Portada en Revista MUJER
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="P2F.jpeg">
              <img class="img-fluid" src="P2F.jpeg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Sporty Chic
                  </div>
                  <div class="project-name">
                    La Revista Diario El Universo
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="P3F.jpeg">
              <img class="img-fluid" src="P3F.jpeg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    3 Estilos del Carnaval
                  </div>
                  <div class="project-name">
                    La Revista Diario El Universo
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="P4F.jpg">
              <img class="img-fluid" src="P4F.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Sporty Chic
                  </div>
                  <div class="project-name">
                    La Revista Diario el Universo
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="P5F.jpg">
              <img class="img-fluid" src="P5F.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Bridal Makeup
                  </div>
                  <div class="project-name">
                    Revista Mujer
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="P6F.jpg">
              <img class="img-fluid" src="P6F.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Portada
                  </div>
                  <div class="project-name">
                    Revista Mujer
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="P7F.jpg">
              <img class="img-fluid" src="P7F.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Bridal Makeup
                  </div>
                  <div class="project-name">
                    Revista Mujer
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="P8F.jpg">
              <img class="img-fluid" src="P8F.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Bridal Makeup
                  </div>
                  <div class="project-name">
                    Revista Mujer
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="P9F.jpg">
              <img class="img-fluid" src="P9F.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Sporty Chic
                  </div>
                  <div class="project-name">
                    La Revista Diario El Universo
                  </div>
                </div>
              </div>
            </a>
          </div>


<div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="P10F.jpg">
              <img class="img-fluid" src="P10F.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Estilo para viajar
                  </div>
                  <div class="project-name">
                    La Revista Diario El Universo
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="P11F.jpg">
              <img class="img-fluid" src="P11F.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Amor por el Demin
                  </div>
                  <div class="project-name">
                    Revista Mujer
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="P12F.jpg">
              <img class="img-fluid" src="P12F.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    De blanco para recibir 2018
                  </div>
                  <div class="project-name">
                    Revista Mujer
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>