<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<div class="parallax-window" data-parallax="scroll" data-image-src="Parallax3F.JPG" >
  <div class="container text-white">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>


<hr class="my-4">
        <h2 class="text-center text-uppercase text-secondary mb-0">Servicios</h2>
        <hr class="star-dark mb-5">

<!-- Portfolio Grid Section -->
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" >
              <img class="img-fluid" src="S1F.jpg" alt="">
            </a>
            <br>
            <h4> Maquillaje Social </h4>
            <p align="justify">
            <h6> El maquillaje social es ideal para cualquier evento: fiestas, cumpleaños, bautizos, primera comunión, matrimonios, etc.  
            <br>
            <br>
            La duración de este servicio es de 1 hora por persona, ya que me encargo de preparar tu piel, analizar el tipo de colores acorde a la misma y al tipo de evento.
            <br>
            <br>
            Incluye pestañas postizas.
            </h6>
            </p>
          </div>

          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto">
              <img class="img-fluid" src="S2F.jpg" alt="">
            </a>
            <br>
            <h4> Maquillaje para producción  </h4>
            <p align="justify">
            <h6> Este tipo de maquillaje es de tipo editorial para producciones de marcas, revistas, etc.  
            Incluye pestañas postizas.
            </h6>
            </p>
          </div>

          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto">
              <img class="img-fluid" src="S3F.jpg" alt="">
            </a>
            <br>
            <h4> Peinado social </h4>
            <p align="justify">
            <h6> Se realiza todo tipo de peinados: cepillados, ondas, recogidos y semi recogidos. Así mismo, cuento con un staff de estilistas profesionales para complementar el servicio, en caso de requerir soporte adicional.
            <br> <br> Nuestra recomendación es que cuando requieras este servicio menciónalo al momento de sacar tu cita para coordinarlo con anticipación.
            </h6>
            </p>
          </div>
          </div>
          </div>