<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<div class="parallax-window" data-parallax="scroll" data-image-src="Parallax1F.JPG" >
  <div class="container text-white ">
   <div class="row">

    <div class="col-sm"></div>
    <div class="col-sm">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="col-sm"></div>
    </div>
  </div>
</div>



<hr class="my-4">
        <h2 class="text-center text-uppercase text-secondary mb-0">Sobre mi</h2>
        <hr class="star-dark mb-5">



    <div class="container">

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <img src="MajoF.JPG", class="img-responsive" alt="">
            </div>
            <div class="col-md-6">
                 
                <p align="justify">   
                ¿Quieren saber cómo llegue al mundo del maquillaje?
                <br>
                <br>
                Aquí les cuento. Todo comenzó con el deseo de emprender, yo trabajaba en el área de turismo porque también soy Ingeniera en administración hotelera y me iba muy bien. Sin embargo, yo sentía que quería y necesitaba tener algo propio, y siempre he pensado que en la vida uno puede tener varias cosas que te apasionen. En mi caso mis gustos se centraban en el turismo y el maquillaje. 
                <br>
                <br>
                Por eso decidí renunciar a mi trabajo y comenzar desde cero.  Estudie maquillaje profesional en la Escuela de María Laura Calderón, y como en toda profesión debes buscar siempre estar actualizada e innovando asistí a los Master Class de dos maestros del maquillaje internacional a los que admiro mucho: Alessandro Alcántara y HelderMarucci.
                <br>
                <br>
                Hago una mención especial a mi profesora Paola Mera de la Escuela de Paola Morales, quien me formó para el Curso de peluquería básica con especialización en peinados.  Cuando empecé a maquillar, vi la necesidad de aprender a peinar también, para poder ofrecer así un servicio más completo a mis clientes.
                <br>
                <br>
                Ya como maquilladora profesional tuve el gusto de ser parte de producciones para marcas como UNITY STORE, LA  REVISTA del diario EL UNIVERSO, REVISTA MUJER de diario Súper, y marcas locales.Dentro de estas producciones he conocido gente maravillosa y talentosa que me ha ayudado a crecer muchísimo, para ellos mi agradecimiento infinito por confiar en mi trabajo.</p>
            </div>
        </div>
        <!-- /.row -->

            <p align="justify"> 
            Y no puedo dejar a un lado mis clientes, quienes asisten a mi estudio de maquillaje y que me dejan ser parte de esos momentos importantes de sus vidas: bodas, bautizos, graduaciones, etc.  Así como también a mis alumnas que han confiado en mí para impartirles conocimientos, tips y más en mis cursos personalizados de automaquillaje.
            <br>
            <br>
            Finalmente estoy muy agradecida con mi familia por creer en este sueño que hoy lo estoy viviendo, y sobre todo con Dios y con la Mater por regalarme este don en mis manos, y ser artista en el rostro de cada una de mis clientes.
            <br>
            <br>
            Si desean conocer más de mi trabajo, los invito a que visiten mi página, redes y mi estudio.Estaré muy feliz de recibirlas.
            <br>
            <br>
             María José</p>
        <hr>
    </div>
    <!-- /.container -->