<div class="container">
        <!-- /.row -->

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        <!-- Content Row -->
        <div class="row">
            <!-- Map Column -->
				<h2>Mensaje enviado, Nos contactaremos con usted pronto</h2>
		</div>
	<br>
	<br>
	<br>
    <br>
    <br>
    <br>
    <br>
</div>